<!doctype html>
<html>

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-73MGRJPLJ0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-73MGRJPLJ0');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@latest"></script>
  <link href="public/output.css" rel="stylesheet">
  <script src="public/node_modules/preline/dist/preline.js"></script>
</head>

<body>
  {{ embed }}
</body>

</html>
