<!-- Icon Blocks -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto mx-4 mt-4 mb-48">

<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto p-10 bg-white rounded-lg">
    <div class="lg:col-span-1">
      <h2 class="font-bold text-2xl md:text-3xl text-gray-800">
        Брзо и лесно достапни информации
      </h2>
      <p class="mt-2 md:mt-4 text-gray-500 mb-10">
        ИнфоМед е латформа која ги содржи и овозможува да се пребарува низ јавни податоци
поврзани со лекови, здравствени установи, документи, како медицина базирана на
докази, и разни други медицински ресурси. <br/><br/>
Иако овие информации се веќе јавно достапни онлајн, многу од нив се на различни
портали од различни организации, пребарувањето се одвива бавно, информациите се
нецелосни и не се обновуваат редовно, треба да знаеш точно како и каде да ги најдеш,
итн. <br/><br/>
Оваа платформа служи како еден агрегатор на сите тие информации кои постојано ги
обновуваме и надоградуваме; Претставени на модерена, брза и лесно разбирлива веб
страница.      </p>
    </div>
    <hr/><br/>
      <h2 class="font-bold text-2xl md:text-3xl text-gray-800 mb-4">
        ИнфоМед е:
      </h2>
  <div class="grid sm:grid-cols-2 lg:grid-cols-4 items-center gap-12">

    <!-- Icon Block -->
    <div>
            <div class="">
        <h3 class="text-lg font-semibold text-gray-800">Брз</h3>
        <p class="mt-1 text-gray-600">Изграден со модерна технологија која овозможува брзо и беспрекорно користење.</p>
      </div>
    </div>
    <!-- End Icon Block -->

    <!-- Icon Block -->
    <div>

      <div class="">
        <h3 class="text-lg font-semibold text-gray-800">Едноставен</h3>
        <p class="mt-1 text-gray-600">Лесно разбирлив и едноставен за користење на компјутер, лаптоп, или мобилен
          телефон.</p>
      </div>
    </div>
    <!-- End Icon Block -->

    <!-- Icon Block -->
    <div>

      <div class="">
        <h3 class="text-lg font-semibold text-gray-800">Отворен</h3>
        <p class="mt-1 text-gray-600">Кодот е од отворен карактер и секој може да го прегледа или додаде во него.</p>
      </div>
    </div>
    <!-- End Icon Block -->

    <!-- Icon Block -->
    <div>
            <div class="">
        <h3 class="text-lg font-semibold text-gray-800">Беслпатен</h3>
        <p class="mt-1 text-gray-600">ИнфоМед е бесплатна алатка и никогаш нема да наплаќаме за користење на истата.</p>
      </div>
    </div>
    <!-- End Icon Block -->
  </div>
</div>
<!-- End Icon Blocks -->
