{{ range $info := .}}
<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto pb-36">
  <div class="mt-5 lg:mt-8">
      <div>
        <div class="bg-white px-6 py-6 rounded-lg">
          <h2 class="font-semibold text-gray-800 text-lg">{{ .Name }}</h2>
          <p>{{ .Address }}</p>
        </div>
      </div>

      <div>
        <iframe height="450" class="w-full mt-6" style="border:0" class="h-full" loading="lazy" allowfullscreen
            referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCyY_0umfGDginuCJkVHg-xsPKzHir72_Y
            &q={{ .Name }},{{ .Address }}">
          </iframe>

      </div>
  </div>
</div>
{{ end }}
