<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@latest"></script>
  <script src="//unpkg.com/alpinejs" defer></script>
  <link href="public/output.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
  <!-- Head nav -->
  <header class="header sticky top-0 bg-white shadow-md flex items-center justify-between px-8 py-02">
    <!-- logo -->
    <h1 class="w-3/12">
      <!-- mora radi dizajnot copy paste e od gugl ne zamarajte -->
    </h1>

    <!-- navigation -->
    <nav class="nav font-semibold text-lg">
      <ul class="flex items-center">
        <li hx-post="/renderIndex" hx-target="#main-body" hx-trigger="click, load"
          class="p-4 border-b-2 border-teal-700 border-opacity-0 hover:border-opacity-100 hover:text-teal-700 duration-200 cursor-pointer active">
          <span>Почетна</span>
        </li>
        <li hx-post="/renderSymposium" hx-target="#main-body" hx-trigger="click"
          class="p-4 border-b-2 border-teal-700 border-opacity-0 hover:border-opacity-100 hover:text-teal-700 duration-200 cursor-pointer">
          <span>Симпозиуми</span>
        </li>
        <li
          class="p-4 border-b-2 border-teal-700 border-opacity-0 hover:border-opacity-100 hover:text-teal-700 duration-200 cursor-pointer">
          <span>Испити</span>
        </li>
      </ul>
    </nav>

    <!-- buttons --->
    <div class="w-3/12 flex justify-end">
      <!-- mora radi dizajnot copy paste e od gugl ne zamarajte -->
    </div>
  </header>
  <!-- Main block -->
  <div class="main" id="main-body">
  </div>
</body>

</html>
