<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@1.9.5"
    integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
    crossorigin="anonymous"></script>
  <link href="public/output.css" rel="stylesheet">
</head>

<body>
  <span class="htmx-indicator">
    Searching...
  </span>

  <input class="form-control" type="search" name="search" placeholder="Begin Typing To Search Users..."
    hx-post="/search" hx-trigger="keyup changed delay:500ms, search" hx-target="#search-results"
    hx-indicator=".htmx-indicator">
  <div id="search-results"></div>
  <!-- input tuka -->
  <!-- htmx response tuka -->
</body>

</html>
