<!-- Icon Blocks -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto mx-4 mt-4 mb-32">

<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto p-10 bg-white rounded-lg">
    <div class="lg:col-span-1">
      <h2 class="font-bold text-2xl md:text-3xl text-gray-800">
        Извори
      </h2>
      <p class="mt-2 md:mt-4 text-gray-500 mb-10">
        ИнфоМед работи само како агрегатор на веќе постоечки јавни информации.<br/><br/>
        Моментално ги користиме следниве извори: <br/><br/>
        - Агенција за лекови и медицински средства<br/>
        - Министерство за здравство<br/>
        - Фонд за здравствено осигурување<br/><br/>
        Информациите се обновувани еднаш во денот пред 7 часот наутро.
      </p>
    </div>
</div>
</div>
<!-- End Icon Blocks -->
